.App {
  width: 100vw;
  max-width: 1800px;
  margin: auto;
}

.error-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  background-color: rgb(246, 97, 97);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 1em;
}

.h1-center {
  text-align: center;
  margin: 1em auto;
}
.scroll::-webkit-scrollbar-track {
  background: rgba(185, 185, 185, 0.421);
  border-radius: 2px 25px 25px 2px;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #ccc;
  background: #fff;
  border-radius: 2px 25px 25px 2px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #f7f2f2fc;
  border-radius: 2px 25px 25px 2px;
  border: 1px solid #cdcdce;
}
