.git
.gitignore
**/node_modules
**/build
**/dist
**/.vite
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.venv
**/venv
server/public
server/audios
server/resultados
fastapi/models
fastapi/data
fastapi/.env
*.log
